{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
      <ul id="taglist" class="taglist">
          <li><a href="/tag/basics">Basics</a></li>
          <li><a href="/tag/company">Company Guides</a></li>
      </ul>
    </nav>
</header>