<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>
  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="http://twitter.com/autoautoco" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>

    <a href="https://www.instagram.com/autoautoco" target="_blank" class="social-item instagram"><li><i class="fa fa-instagram"></i></li></a>

    <a href="https://www.facebook.com/autoautoco" target="_blank" class="social-item facebook"><li><i class="fa fa-facebook"></i></li></a>
  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

